@model PagedList.IPagedList<Industry>
@using JobExchange.Models
@using PagedList;
@{
    ViewData["Title"] = "Home";
}



<div class="top-category">
    <div class="container">
        <div class="top-category__header">
            <div class="top-category__box-title">
                <h3 class="top-category__title">
                    Top ngành nghề nổi bật
                </h3>
                <p>Bạn muốn tìm việc mới? Xem danh sách việc làm <a target="_blank" href="https://www.topcv.vn/viec-lam" class="text-highlight text-underline">tại đây</a></p>
            </div>
            <div class="top-category__navigation">
                <a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" class="btn btn-prev btn-navigation" @(Model.HasPreviousPage ? "" : "disabled")>
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" class="btn btn-next btn-navigation" @(Model.HasNextPage ? "" : "disabled")>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                @*<button disabled="disabled" class="btn btn-prev btn-navigation">
                <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="btn btn-next btn-navigation">
                <i class="fa-solid fa-chevron-right"></i>
                </button>*@
            </div>
        </div>

        @*///*@
        <div class="top-category__body">
            <div id="top-category-carousel" class="top-category__carousel owl-carousel owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 10530px;">
                        <div class="owl-item active" style="width: 1140px; margin-right: 30px;">
                            <div class="row mx-2">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-3">
                                        <div class="top-category--item">
                                            <div class="top-category__image">
                                                <a href="/tim-viec-lam-kinh-doanh-ban-hang-c10001" target="_blank">
                                                    <img src="~/images/industry/@item.IndustryImage" alt="@item.IndustryName" title="@item.IndustryName">
                                                </a>
                                            </div>
                                            <h4 class="top-category__name">
                                                <a href="/tim-viec-lam-kinh-doanh-ban-hang-c10001" title="Kinh doanh / Bán hàng" target="_blank">@item.IndustryName</a>
                                            </h4>
                                            <p class="top-category__caption">@item.IndustryId</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        @*///*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
